<footer class="p-5p pb-0 flex justify-between bg-center bg-cover" style="background-image: url('/images/treatment-background.png')">

    <div class="grid grid-cols-3">
        <div class="col-span-1">
            <h3> Your to-do list: </h3>
            <h4> Make an appointment! </h4>
            <h4> Follow our socials </h4>
            <nav>
                <a href="#"> <i class="fab fa-pinterest-p"></i> </a>
                <a href="#"> <i class="fab fa-instagram"></i> </a>
                <a href="#"> <i class="fab fa-facebook-f"></i> </a>
            </nav>
        </div>    

        <div class="bg-cover bg-center min-h-50 col-span-2" style="background-image: url('/images/berlin.png')"> </div>

    </div>
    
    <div class="pt-5p text-center">
        <p class="subtle"> © 2023 All rights reserved. Designed and Built by Refined Island Creations </p>
    </div>

</footer>

   