<!---------------Image Banner with tailwind---------------->
        <section class="grid grid-cols-3 min-h-60">
            <div class="col-span-1 bg-image bg-statue-1 p-5p min-h-90">
            </div>
            <div class="col-span-2 grid bg-image bg-texture-1 p-5p">
                <div class="right p-5p">
                    <h2> a salon, <br> like no other. </h2>
                </div>
                <div class="right p-5p grid content-end">
                    <nav>
                        <a href="#treatments" class="button lowercase"> Treatments </a> <br>
                        <a href="#faq" class="button lowercase"> FAQs </a> <br>
                        <a href="#appointment" class="button lowercase"> Make an appointment </a>
                    </nav>
                </div>
            </div>
        </section>




