<!---------------Image Banner with tailwind---------------->
        <section class="grid grid-cols-3 min-h-60 sm:min-h-90">
            <div class="col-span-1 bg-image bg-statue-1 p-5p">
            </div>
            <div class="col-span-2 grid bg-image bg-texture-1 p-5p min-h-60 sm:min-h-70">
                <div class="right p-5p">
                    <h2> a salon, <br> like no other </h2>
                </div>
                <div class="right p-5p grid content-end">
                    <nav>
                        <a href="#treatments" class="button lowercase"> Treatments </a> <br>
                        <a href="#faq" class="button lowercase"> FAQs </a> <br>
                        <a href="#appointment" class="button lowercase"> Make an appointment </a>
                    </nav>
                </div>
            </div>
        </section>

<!---------------Image Banner with normal CSS----------
        <section class="grid tall-70">
            <div class="col-4_sm-5 bg-image bg-statue-1 padded">
            </div>
            <div class="col-8_sm-7 grid bg-image bg-texture-1 padded tall-90">
                <div class="col-12 right padded">
                    <h2> a salon, <br> like no other </h2>
                </div>
                <div class="col-12-bottom right padded">
                    <nav>
                        <a href="#treatments" class="button lowercase"> Treatments </a> <br>
                        <a href="#faq" class="button lowercase"> FAQs </a> <br>
                        <a href="#appointment" class="button lowercase"> Make an appointment </a>
                    </nav>
                </div>
            </div>
        </section>
        ------>



